body 
{
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    background: #d0e4f7; 
    margin: 0px;
    border: 0px;
}

#tempValue {
    align:center;
    text-align:center;
    font-family: Tahoma, sans-serif;
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ff0000;
    color: #ffffff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


#tempH1 {
    align:center;
    text-align:center;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}
