/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2015, 4:38:37 PM
    Author     : Jörg
*/

.measurement {
    background-color: #aaaaaa;
    margin-top: 10px;
    padding: 4px;
}
